
/* ********* General Stylings for all pages ********* */

body {
    background-color: #F5EDE4;
    font-family: "Montserrat";
}

/* link stylings */
a:link { text-decoration: none; color: #2D3842;}
a:visited { text-decoration: none; color: #2D3842;}
a:hover { text-decoration: none; color: #2D3842;}
a:active { text-decoration: none; color: #2D3842;}

.title-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    font-family: 'Caveat Brush', cursive;
    color: #2D3842;
    margin: 0px;
    width: 500px;
    height: 110px;
    font-weight: bold;
    font-size: 100px;
}

.subtitle {
  margin-top: 35px;
  margin-left: 50px;
  font-family: "Montserrat";
  color: #2D3842;
  font-size: 25px;
  font-weight: normal;
}

/* ********* Landing Page ********* */

.landing-page-container {
    max-width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#homepage-video img {
    display: block;
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Caveat Brush', cursive;
    font-size: 25px;
    font-weight: bold;
}

#gallery-tag {
    display: block;
    width: 100px;
    text-align: center;
    border: 2px solid #7E9198;
    background-color: #7E9198;
    border-radius: 7px;
    color: white;
    text-decoration: none;
}

#map-tag {
    display: block;
    width: 75px;
    text-align: center;
    border: 2px solid #A6A999;
    background-color: #A6A999;
    border-radius: 7px;
    color: white;
    text-decoration: none;
}

/* ********* Gallery Page ********* */

.gallery-page-container {
    max-width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.gallery-pictures-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

.gallery-card-container {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-evenly;
    font-family: 'Caveat Brush', cursive;
    background-color: #ffffff;
}

/* the hover location caption */
.img-place-name {
    padding: 60px 35px;
    font-size: 40px;
    -webkit-transform: translate3d(0%, -50%, 0);
    transform: translate3d(0%, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* the hover dates caption */
.img-dates-cptn {
    padding: 10px 35px;
    font-size: 18px;
    -webkit-transform: translate3d(0%, -50%, 0);
    transform: translate3d(0%, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}


/* GALLERY FROM CODEPEN */

figure.snip0060 {
  color: white;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  /* background: #000000; */
  text-align: left;
}
figure.snip0060 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* korea image */
figure.snip0060 img {
  opacity: 1;
  width: 100%;
}
/* korea image caption */
figure.snip0060 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip0060 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* makes the text appear when hover */
figure.snip0060 figcaption::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 100%;
  height: 2px;
  content: '';
  opacity: 0;
  /* background-color: rgba(255, 255, 255, 0); */
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip0060 i,
figure.snip0060 p {
  margin: 0;
  opacity: 0;
  width: 100%;
}

/* hover styling */
figure.snip0060 i {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  position: absolute;
  font-size: 28px;
  display: block;
  bottom: 0;
  left: 30px;
  /* background: #000000; */
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


figure.snip0060 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}

/* this changes the hover color  */
figure.snip0060 {
  background: black;
}

figure.snip0060:hover img,
figure.snip0060.hover img {
  opacity: 0.35;
}
figure.snip0060:hover figcaption i,
figure.snip0060.hover figcaption i,
figure.snip0060:hover figcaption p,
figure.snip0060.hover figcaption p,
figure.snip0060:hover figcaption h3,
figure.snip0060.hover figcaption h3 {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}
figure.snip0060:hover figcaption::before,
figure.snip0060.hover figcaption::before {
  background: rgba(255, 255, 255, 0.8);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* ********* Map Page ********* */

.map-page-container {
  max-width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.map-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#map {
  border: 2px solid #2D3842;
}

/* ********* Trips Page ********* */

.trip-page-container {
  max-width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.trip-image-container img{
  display: block;
  margin: auto;
  width: 600px;
}

.header {
  margin: 10px 0px 0px 0px;
  font-family: "Caveat Brush", cursive;
  color: #2D3842;
  font-size: 35px;
}

.details {
  font-size: 18px;
  color: #2D3842;
}

/* about trip section */
.about-trip-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.about-trip-container > .details {
  margin: 20px 10px 10px 40px;
  /* margin-right: 10px; */
}

/* trip highlights section */
.trip-highlights-container {
  display: flex;
  flex-direction: column;
}

.trip-highlights-container img{
  display: block;
  width: 500px;
  height: 325px;
}

.trip-highlights-content-container {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 40px;
}

.trip-top3-container {
  display: flex;
  flex-direction: column;
}